<!--
Denne template'n skal inneholde de forskjellige rommene.
-->

<ion-view view-title="{{room.name}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon" ng-click="toggleFavorite()"
        ng-class="isFavorite() ? 'favorite-button ion-ios-star' : 'ion-ios-star-outline'"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div id="map" data-tap-disabled="true"></div>
    <p>Bygg: <b>{{room.building_name}}</b>, {{room.floor + 1}}. etg</p>
    <p>Kapasitet: <b>{{room.capacity}}</b> personer</p>

    <p>Romegenskaper:</p>
    <ul>
      <li class="my-nav" ng-repeat="feature in room.features">
        <p>{{feature.name}}</p>
      </li>
    </ul>
  </ion-content>
</ion-view>
