<ion-view view-title="Finn rom">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios7-settings" ng-click="openModal()">

    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item" ng-repeat="room in rooms" ng-click="goToRoom(room)">
        <h2>{{room.name}}</h2>
        <p>Ca. <span place-distance metres="room.distance"></span>, {{ room.building_name }}</p>
        <p>Kapasitet: {{ room.capacity }}</p>
      </ion-item>
    </ion-list>

    <div ng-if="state === 'FINDING_POSITION' || state === 'LOADING_ROOMS'">
      <img src="img/ajax-loader.gif">
    </div>

    <p ng-if="state === 'FINDING_POSITION'">Finner posisjon...</p>
    <p ng-if="state === 'LOADING_ROOMS'">Laster rom i nærheten av deg...</p>
    <p ng-if="state === 'GEOLOCATION_ERROR'">Klarte ikke å finne posisjonen din</p>
    <p ng-if="state === 'LOAD_ROOMS_ERROR'">Klarte ikke å laste rom-lista</p>
  </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Filter</h1>
      <button class="button button-icon icon ion-close" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
    </ion-content>
  </ion-modal-view>
</script>

