<ion-view view-title="Finn rom">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-settings" ng-click="openModal()">

    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
        pulling-text="Dra for å oppdatere..."
        on-refresh="getRooms()">
    </ion-refresher>

    <ion-list>
      <ion-item class="item" ng-repeat="room in rooms" ng-click="goToRoom(room)">
        <h2>{{room.name}}</h2>
        <p>Ca. <span place-distance metres="room.distance"></span>, {{ room.building_name }}</p>
        <p>Kapasitet: {{ room.capacity }}</p>
      </ion-item>
    </ion-list>

    <p class="padding" ng-if="state === 'NO_ROOMS'"><b>Beklager! Det finnes ingen ledige rom i nærheten som oppfyller kravene du har satt.</b></p>
    <p class="padding" ng-if="state === 'NO_ROOMS'">Du kan endre filtreringen ved å trykke på symbolet øverst til venstre.</p>

    <ion-spinner ng-if="state === 'FINDING_POSITION' || state === 'LOADING_ROOMS' || state === 'INITIALIZING'"></ion-spinner>
    <p ng-if="state === 'FINDING_POSITION'">Finner posisjon...</p>
    <p ng-if="state === 'LOADING_ROOMS'">Laster rom i nærheten av deg...</p>
    <p ng-if="state === 'GEOLOCATION_ERROR'">Klarte ikke å finne posisjonen din</p>
    <p ng-if="state === 'LOAD_ROOMS_ERROR'">Klarte ikke å laste rom-lista</p>

  </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Filter</h1>
      <button class="button button-icon icon ion-close" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>

      <div class="range">
        <i class="ion-person"></i>
        <input ng-model="capacity.min" type="range" name="capacity" min="0" max="19">
        <i class="ion-person-stalker"></i>
      </div>

      <p align="center">Kapasitet: {{capacityList[capacity.min]}}</p>

      <ion-list>
        <ion-item class="item item-checkbox" ng-repeat="feature in features">
          <label class="checkbox">
            <input type="checkbox" ng-model="feature.checked">
          </label>
          {{feature.name}}
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-modal-view>
</script>

