<ion-view view-title="Informasjon">
  <ion-content>
    <H1 align="center"><b>Om uSeat</b></H1>
    <p class="padding">uSeat er en app utviklet i faget TMM4850 Instrumentering og styring over Internett. </p>
    <p class="padding">Faget er en del av Eksperter i team ved Norges Teniske og Naturvitenskaplige Universitet, NTNU.</p>

    <p align="center"><b>Bidragsytere: </b></p>
    <p align="center">Peder Andreas Dalby </p>
    <p align="center">Iver Jordal</p>
    <p align="center">Vegard Josvanger</p>
    <p align="center">Hanna Hunnes Viken</p>
  </ion-content>
</ion-view>
