<ion-view view-title="Favoritter">
  <ion-content>
    <ion-list>
      <ion-item class="item" ng-repeat="room in rooms" ng-click="goToRoom(room)">
        <h2>{{room.name}}</h2>
        <p>Ca. <span place-distance metres="room.distance"></span>, {{ room.building_name }}</p>
        <p ng-switch on="room.available_since">
          <span ng-switch-when="null">Ikke tilgjengelig akkurat nå</span>
          <b ng-switch-default="">Tilgjengelig nå</b>
        </p>
        <p>Kapasitet: {{ room.capacity }}</p>
      </ion-item>
    </ion-list>

    <p class="padding" ng-if="state === 'NO_FAVORITES'"><b>Du har ingen favoritter! :0</b></p>
    <p class="padding" ng-if="state === 'NO_FAVORITES'">Legg til et rom i favoritter ved å trykke på "Finn rom"-tab'en. Velg det rommet du ønsker å favorisere, og trykk på stjerne-symbolet øverst til høyre. </p>
    <p class="padding" ng-if="state === 'NO_FAVORITES'">Når stjernen er gul, er rommet favorisert.</p>

    <ion-spinner ng-if="state === 'FINDING_POSITION' || state === 'LOADING_ROOMS' || state === 'INITIALIZING'"></ion-spinner>
    <p ng-if="state === 'FINDING_POSITION'">Finner posisjon...</p>
    <p ng-if="state === 'LOADING_ROOMS'">Laster rom i nærheten av deg...</p>
    <p ng-if="state === 'GEOLOCATION_ERROR'">Klarte ikke å finne posisjonen din</p>
    <p ng-if="state === 'LOAD_ROOMS_ERROR'">Klarte ikke å laste rom-lista</p>
  </ion-content>
</ion-view>
